@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body {
    background: rgb(255, 166, 0);
}

header {
    padding: 20px 10px;

    .logo {
        text-align: right;

        & a {
            text-decoration: none;
            color: white;
        }
    }

    nav {
        & ul {
            display: flex;
            justify-content: space-around;
            align-items: center;

            & li a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.profilePic img {
    width: 100%;
    border-radius: 50%;
    animation: 5s infinite;
}

.profilePic:hover {
    transform: rotateX('360');
    background: red;
}

.profileWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profileBttn {
    display: flex;
    gap: 10px;
    margin: 20px 0px;

    & button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 5px 0px #00000036;
    }
}

.icon {
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: baseline;

    & a {
        text-decoration: none;
        color: black;
    }
}

@keyframes slidein {
    from {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(8%);
    }

    to {
        transform: translateY(5%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


@media screen and (max-width: 575px) {
    header {
        height: auto;

        .logo {
            text-align: left;
        }

        nav {
            display: none;
        }
    }

    .profileBttn {

        & button {
            font-size: 12px;
        }
    }
}